.env
*.class
*.jar
*.log
*.hprof
build/
.gradle/
.idea/
mobile/local.properties
mobile/build/
mobile/.kotlin

*.iml
.DS_Store
/.env.example
.claude
.opencode
/deploy.sh
data/
.playwright-mcp
/src/main/resources/pdf/*
